<footer>
      <div class="footer-container">
        <div class="company-info">
          <p><strong>酒國英豪洋酒公司</strong></p>
          <hr />
          <p>地址: 台中市大雅區民生路三段356號 
            <a href="https://www.google.com/maps?q=台中市大雅區民生路三段356號" target="_blank">
              <img src="/static/images/uploads/google-map-logo.png" alt="Google Map" class="google-map-logo" />
            </a>
          </p>
          <p>電話: 04-25664710</p>
          <p>週一到週五: 10:00 AM - 3:00 AM</p>
          <p>週六與週日: 10:00 AM - 10:00 PM</p>
        </div>
        <div class="copyright">
          <p>&copy; 2025 酒國英豪洋酒公司</p>
         </div> 
      </div>
      
    </footer>

    <div class="age-warning">
      <img src="/static/images/uploads/age-warning-banner.png" alt="警告標語" class="age-warning-banner" />
    </div>



