---
title: HB產品介紹
layout: base.njk
---

      <!-- HB 介紹頁打開的封面 -->
      <section id="hb_poster" class="poster-container">
          <img src="/static/images/uploads/HB_poster.jpg" alt="HB 威士忌海報">
          <!-- 圖片上的內容 -->
          <div class="poster-headings">
              <h1>HB 威士忌全系列商品</h1>
              <h2>Hedges & Butler Whiskey Full Series</h2>
          </div>

          <div class="poster-extra-content">
              <div class="hb-intro-text">
                    <p>Hedges & Butler 成立於 1667 年，是世界上最古老的葡萄酒和烈酒生產商之一。</p>
                    <p>Founded in 1667, Hedges & Butler is one of the world’s oldest wine and spirits producers</p>
              </div>   
              <div class="poster-buttons">
                <button id="scroll-to-history">閱讀更多<br>LEARN MORE</button>
              </div>
          </div>
      </section>
      <!-- HB 威士忌歷史 -->
      <section id="hb_history" class="history-container">
          <div class="history-content">
            <h2>HB 威士忌歷史</h2>
            <p>- 1967 成立於倫敦，經營葡萄酒與烈酒<br>
              - 1817 搬遷至攝政街的頂級物業<br>
              - 1830's 第一家生產高端條和蘇格蘭威士忌<br>
              - 1830 喬治四世授予他們第一個皇室認證勳章<br>
              - 1837 維多利雅女王隨後授予一份皇室認證<br><br>
              
              自此之後，代表成為提供皇家御用商品供應商。</p>
          </div>
          <div class="background-grid"></div>
          <div class="history-image">
            <img src="/static/images/uploads/hb_history.JPG" alt="HB 威士忌歷史">
          </div>  
      </section> 

      <section class="hb-introduction-container">

        <div class="sidebar">
          <div class="progress-bar">
            <div class="progress-bar-fill"></div>
          </div>
          <ul class="product-list">
              <li data-index="0">HB 1L</li>
              <li data-index="1">HB 雪莉</li>
              <li data-index="2">HB 12年</li>
              <li data-index="3">HB 原酒</li>
              <li data-index="4">HB 珍藏</li>
          </ul>
        </div>
  
        <div class="content">
            <div class="product" id="product-1">
                <div class="image-left">
                  <img src="/static/images/uploads/HB_photography.JPG" alt="HB 1L">
                </div>
                <div class="text-right">
                  <h2>蘇格蘭HB威士忌 1L</h2>
                  <h4>Hedges and Butler Blended Scotch Whisky</h4>
                  <p>蘇格蘭HB威士忌是一款精選優質單一純麥與穀物釀製而成的奢華調和蘇格蘭威士忌。</p>
                </div>
              </div>
    
            <div class="product" id="product-2">
                <div class="text-left">
                  <h2>蘇格蘭HB雪莉桶風味威士忌</h2>
                  <h4>Hedges and Butler Sherry Cask Finished Blended Scotch Whisky</h4>
                  <p>專門為台灣量身打造推出的蘇格蘭HB雪莉桶威士忌</p>
                </div>
                <div class="image-right">
                  <img src="/static/images/uploads/HBsherry_phtography.JPG" alt="HB 雪莉">
                </div>
            </div>
    
            <div class="product" id="product-3">
                <div class="image-left">
                  <img src="/static/images/uploads/HB12_photography.JPG" alt="HB 12年">
                </div>
                <div class="text-right">
                  <h2>蘇格蘭HB12年調和威士忌</h2>
                  <h4>Hedges and Butler Deluxe 12 Years Blended Scotch Whisky</h4>
                  <p>蘇格蘭HB12年調和威士忌，使用精選優質大麥與當地純淨水源釀製，經過首席調酒師多次試酒調配，並在橡木桶陳年12年，創造出非凡經典的威士忌。</p>
                </div>
            </div>
    
            <div class="product" id="product-4">
                <div class="text-left">
                  <h2>蘇格蘭HB原酒高地單一純麥威士忌 獨獻台灣版</h2>
                  <h4>Hedges and Butler Highland Single Malt Scotch Whisky Batch Strength Taiwan Exclusive</h4>
                  <p>此HB原酒受到英國喬治五世的啟發，展現極致細膩的釀造工藝，首發限量裝瓶，全球獨獻台灣，值得收藏。</p>
                </div>
                <div class="image-right">
                  <img src="/static/images/uploads/HBbatch_photography.JPG" alt="HB 原酒">
                </div>
              </div>
    
            <div class="product" id="product-5">
                <div class="image-left">
                  <img src="/static/images/uploads/HBhighland_photography2.JPG" alt="HB 珍藏">
                </div>
                <div class="text-right">
                  <h2>蘇格蘭HB珍藏高地單一純麥威士忌</h2>
                  <h4>Hedges and Butler Highland Single Malt Scotch Whisky</h4>
                  <p>經典珍藏．獨獻台灣。<br>
                    精心打造出專屬於品酩人士的榮耀滋味，獨特風格、雋永留香。
                  </p>
                </div>
            </section>
        </div>

      </section>

