---
title: 酒國英豪洋酒公司
layout: base.njk
---
    

      <section id="hb_video" class="video-container">
        <iframe 
          src="https://www.youtube.com/embed/v9ZGfdrbEjw?autoplay=1&mute=1" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </section>

      <section id="our_products" class="products-container">
        <h2>我們的產品<br>Our Products</h2>
        <button class="arrow left-arrow">
          <img src="static/images/uploads/left_arrow.png" alt="Left Arrow" />
        </button>
        <div class="carousel">
          <div class="carousel-track-container">
            <ul class="carousel-track">
              <li class="carousel-slide">
                <img src="static/images/uploads/HB_photography.JPG" alt="Product 1" />
                <div class="product-info">
                  <h3>HB 1L</h3>
                  <button class="learn-more">瞭解更多</button>
                </div>
              </li>
              <li class="carousel-slide">
                <img src="static/images/uploads/HB12_photography2.JPG" alt="Product 2" />
                <div class="product-info">
                  <h3>HB 12年 1L</h3>
                  <button class="learn-more">瞭解更多</button>
                </div>
              </li>
              <li class="carousel-slide">
                <img src="static/images/uploads/HBsherry_phtography.JPG" alt="Product 3" />
                <div class="product-info">
                  <h3>HB 雪莉桶 1L</h3>
                  <button class="learn-more">瞭解更多</button>
                </div>
              </li>
              <li class="carousel-slide">
                <img src="static/images/uploads/HBbatch_photography.JPG" alt="Product 4" />
                <div class="product-info">
                  <h3>HB 原酒 1L</h3>
                  <button class="learn-more">瞭解更多</button>
                </div>
              </li>
              <li class="carousel-slide">
                <img src="static/images/uploads/HBhighland_photography2.JPG" alt="Product 5" />
                <div class="product-info">
                  <h3>HB 珍藏 1L</h3>
                  <button class="learn-more">瞭解更多</button>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
        <button class="arrow right-arrow">
          <img src="static/images/uploads/right_arrow.png" alt="Right Arrow" />
        </button>
      </section>

      <section id="quote" class="quote-container">
        <img src="static/images/uploads/left_quote.png" alt="Left Quote" class="left-quote" />
        <p>最好的酒質，<br>
          最高的CP值。
        </p>
        <img src="static/images/uploads/right_quote.png" alt="Right Quote" class="right-quote" />
      </section>

      <section id="news" class="news-container">
        <div class="news-content">
          <div class="news-photo-container">
            <img src="static/images/uploads/news1.jpg" alt="News 1" class="main-news-photo" />
          </div>
          <div class="news-text-container">
            <h2>最新消息<br>News</h2>
            <h4>標題標題</h4>
            <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
            <a href="news.html" class="read-more">閱讀更多</a>
          </div>
        </div>
      </section>  

      <section id="services" class="services-container">
        <h2>服務<br>Services</h2>
        <div class="service-items">
          <div class="service-item">
            <img src="static/images/uploads/icon1.png" alt="Icon 1" class="service-icon" />
            <h4>免運服務</h4>
            <p>詳情請洽官方Line</p>
          </div>
          <div class="service-item">
            <img src="static/images/uploads/icon2.png" alt="Icon 2" class="service-icon" />
            <h4>批發零售</h4>
            <p>請與我們聯繫，<br>
              我們將會請業務與您接洽</p>
          </div>
          <div class="service-item">
            <img src="static/images/uploads/icon3.png" alt="Icon 3" class="service-icon" />
            <h4>酒類諮詢</h4>
            <p>歡迎加入官方Line，<br>
              與小編聊聊 </p>
          </div>
          <div class="service-item">
            <img src="static/images/uploads/icon4.png" alt="Icon 4" class="service-icon" />
            <h4>HB活動合作</h4>
            <p>婚宴、酒促、商店擺
              設、品酒會等需求，<br>
              歡迎私訊/電聯</p>
          </div>
        </div>
      </section>



    
