---
title: 最新消息
layout: base.njk
---
    <section>
      <div class="banner">
        <h1 style="color: rgba(75, 89, 99, 0.939);">最新消息<br>Latest News</h1>
      </div>  
        <div id ="all-news-container">
            <div class="news-item">
                <img src="/static/images/uploads/news1.jpg" alt="News 1" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a>
            </div>
            <div class="news-item">
                <img src="/static/images/uploads/news2.jpg" alt="News 2" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a> 
            </div>
            <div class="news-item">
                <img src="/static/images/uploads/news3.jpg" alt="News 3" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a> 
            </div>
            <div class="news-item">
                <img src="/static/images/uploads/news4.jpg" alt="News 4" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a>
            </div>
            <div class="news-item">
                <img src="/static/images/uploads/news5.jpg" alt="News 5" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a>
            </div>
            <div class="news-item">
                <img src="/static/images/uploads/news6.jpg" alt="News 6" class="news-photo" />
                <h2>最新消息標題</h2>
                <p>這是最新消息的內容，這裡可以放一些簡短的描述或摘要。</p>
                <a href="/news-details/" class="link-to-details">閱讀更多 Read More</a>
            </div>    

            
        </div>
    </section>
