---
title: 消息內容
layout: base.njk
---

<section class="news-detail">
        <a href="/news/" class="back-to-news">返回最新消息</a>
        <div class="news-title">
            <h1>{{ news.data.title }}</h1>
            <h3>{{ news.daata.excerpt }}</h3>
        </div>
        <div class="detail-page-photo">
            <img src="/static{{ news.data.image }}" alt="{{ news.data.title }}" class="news-detail-photo" />
        </div>
        <div class="detail-page-text">  
            <p>{{ news.data.content | safe }}</p>

        </div>
</section>   