---
title: 最新消息
layout: base.njk
---

    <section>
      <div class="banner">
        <h1 style="color: rgba(75, 89, 99, 0.939);">最新消息<br>Latest News</h1>
      </div>  
        <div id ="all-news-container">
            {% for news in collections.news %}
            <div class="news-item">
                <img src="/static{{ news.data.image }}" alt="{{ news.data.title }}" class="news-photo" />
                <h2>{{ news.data.title }}</h2>
                <h3>{{ news.data.excerpt }}</h3>
                <a href="{{ news.url }}" class="link-to-details">閱讀更多 Read More</a>
            </div>
            {% endfor %}
        </div>


        
    </section>
